@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy-bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Girloy';
    src: url(../fonts/gilroy-semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Girloy';
    src: url(../fonts/gilroy-regular.ttf);
    font-weight: 400;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Girloy';
    margin: 0;
}

button{
    padding: 0;
    border: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.decor-word {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 145px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
    text-transform: uppercase;
}

.btn {
    background: #ff7129;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    box-shadow: 0px 4px 28px 0px #ff71294a;
    width: 188px;
    display: block;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
}

.container {
    width: 100%;
    max-width: 1600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.container-popup {
    max-width: 800px;
    box-sizing: border-box; 
}

.popup-padding58 {
    padding-left: 58px;
    padding-right: 58px;
}

/*HEADER*/

.header .header-wrapper-top {
    background-color: #20242d;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .header-wrapper-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .address {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    ;
}

.header .header-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .header-list li {
    position: relative;
    margin-right: 57px;
    padding-left: 21px;
}

.header .header-list svg {
    position: absolute;
    top: 5px;
    left: 0;
}

.header .header-list li:last-child {
    margin-right: 0;
}

.header .header-list a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.header .header-wrapper-bottom {
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom: 11px;
}

.header .header-wrapper-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navigation li {
    margin-right: 56px;
}

.header .navigation li:last-child {
    margin-right: 0;
}

.header .navigation a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
    text-decoration: none;
}
.header .navigation a:hover {
    color: #ff7129;
}

.header .navigation .active-li::before {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 7px;
    left: -15px;
}

.header .navigation .active-li {
    position: relative;
}

.header .navigation .active-li::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 7px;
    right: -15px;
}
/* MAIN*/

.start-screen {
    position: relative;
    background: #777;
    padding-top: 270px;
    padding-bottom: 138px;
    background-image: url(../img/main-start-screen-bg.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat ;
}

.start-screen .decor-word-1 {
    position: absolute;
    top: 163px;
    left: 50px;
}

.start-screen .decor-word-2 {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 282px;
    right: 50px;
}

.start-screen .main-home-title {
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
}
.start-screen .main-home-slogan {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    max-width: 508px;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 59px;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 106px;
}

.start-screen .button-scroll {
    display: block;
    background: rgba(123, 126, 133, 0.4);
    width: 46px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.main-info {
    padding-top: 132px;
    padding-bottom: 115px;
    background-image: url(../img/main-info-bg.png);
    background-position: 132px 100px;
    background-size: 535px 600px;
    background-repeat: no-repeat;
}

.main-info .container {
    display: flex;
    justify-content: center;

}
    

.main-info img {
    margin-right: 65px;
}

.main-info .main-text {
    position: relative;
    width: 535px; 
    padding-top: 69px;
}

.main-info .main-text .decor-word-main {
    position: absolute;
    -webkit-text-stroke: 1px  rgba(32, 36, 45, 0.1);
    top: 2px;
    left: -27px;
    font-size: 95px;
    font-style: normal;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
}

.main-info .main-title-info {
    position: relative;
    margin-top: 0;
    margin-bottom: 64px;
    padding-left: 16px;

}

.main-info .main-title-info::before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 42px;
    background-color: #FF7129;
    top: 0;
    left: 0;
}

.main-info .main-title-info {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

.main-info .main-text-info {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
}

/*FOOTER*/

.footer-wrapper {
    background: #20242d;
}

.footer-wrapper .footer-wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 52px;
}

.footer-wrapper .footer-wrapper-top ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper .footer-wrapper-top li {
    margin-right: 56px;
}

.footer-wrapper .footer-wrapper-top li :last-child{
    margin-right: 0px;
}

.footer-wrapper .navigation a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}
.footer-wrapper .navigation :hover {
    color: #ff7129;
}
.footer-wrapper .btn-dark {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    background: #20242d;
}

 .footer-wrapper .footer-wrapper-bot a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #7b7e85;
}

.footer-wrapper .footer-wrapper-bot {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid rgba(123, 126, 133, 1);
    opacity: 0.3;
}

.footer-wrapper .btn-dark {
border: 1px solid #FF7129;
box-sizing: border-box;
width: 187px;
height: 49px;
}


.footer-wrapper .btn-dark li:last-child {
    margin-right: 0px;
}


/* ABOUT US main*/

.about-us {
    
    background-image: url(../img/main-about-us-start-screen-bg.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.about-us .container {
    position: relative;
    padding-top: 200px;
    padding-bottom: 103px;

}

.about-us .main-title-about-us {
    position: relative;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 200px;
    padding-left: 16px;
}

.about-us .main-title-about-us::before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 52px;
    background-color:  #FF7129;
    top: 0;
    left: 0;
}

.about-us .decor-word-about-us {
    position: absolute;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;
    color: transparent;
    top: 131px;
    left: 173px;
    text-transform: uppercase;
}

.about-us-content {
    background-image: url(../img/main-info-about-us-bg.png);
    background-repeat: no-repeat;
    background-size: 535px 606px;
    background-position: 0px 121px;
}

.about-us-content .container {
    display: flex;
    justify-content: flex-start;
}

.about-us-content-left,
.about-us-content-right {
    padding-top: 80px;
    max-width: 520px;
}

.about-us-content-left p,
.about-us-content-right p {
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #20242D;
}

.about-us-content-left {
    padding: 80px 66px 184px 150px;
}
.about-us-content-left p:first-child {
    padding-bottom: 24px;
}


/* FORM FORM FORM */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* margin-left: -400px;
    margin-top: -523px; */
    transform: translate(-50%, -50%);
}

@keyframes fadeIn {
    0% {
        transform:translate(-50%, -2000%);
    }
    50% {
        transform: translate(-50%, 0%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.popup-show {
    display: block;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.btn-popup-close {
    position: absolute;
    color: #FFFFFF;
    background-color: transparent;
    top: 22px;
    right: 22px;
}

.popup-header {
    position: relative;
    /* padding-top: 72px;
    padding-bottom: 72px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF7129;
}

.header-popup-price p:first-child {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.header-popup-price p:last-child {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.btn-header-popup {
    color: #FF7129;
    background: #FFFFFF;
    padding: 16px 55px;
    margin-top: 91px;
    margin-bottom: 85px;
    margin-left: 288px;
}

.popup-main-form {
    padding-top: 72px;
    background: #FFFFFF;
}

.popup-main-title h3 {
    margin-bottom: 16px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242D;

}
.popup-main-title p {
    margin-bottom: 56px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(32, 36, 45, 1);
}

.popup-main-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.popup-main-form form label {
    margin-bottom: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7E85;
}

.popup-main-form form input {
    display: block;
    padding: 16px 24px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    width: 100%;
    min-width: 327px;
    margin-top: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7E85;
    
}
.popup-main-form form label:nth-child(3) {
    margin-bottom: 0px;
}

.popup-main-form form input::placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7E85;
}

.btn-popup-main-form {
    padding: 16px 20px;
    margin-top: 28px;
    margin-left: 140px;
    background: #FF7129;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}